<a href="https://colab.research.google.com/github/alvas-education-foundation/Jagath_Haren/blob/master/workshop/Applications%20of%20Python%20Programming%20in%20Data%20Analytics%20and%20Machine%20Learning/Day_2_session_1_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#print multiples of 3 upto 200 using a list

In [15]:
a=[]
for i in range(201):
  if i%3==0:
   a.append(i)
print(a)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

#print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [13]:
a=[]
for i in range(1000,2001):
  if i%5==0 and i%7==0:
    a.append(i)
print(a)

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

#Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [3]:
a=[]
c=[]
n=int(input("Enter the value of n:"))
for i in range(0,n):
  b=input("Enter name {0}:".format(1+i))
  a.append(b)
print(sorted(a))
print(c)

Enter the value of n:3
Enter name 1:snkla
Enter name 2:hhjj
Enter name 3:aaa
['aaa', 'hhjj', 'snkla']
[]

#Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

#Get  a string and store word by word as elements in a tuple and find the largest word in the  tuple and print it

In [0]:
a=[]
n= int(input("Enter the number of elements in list:"))
for x in range(0,n):
    element=input("Enter element" + str(x+1) + ":")
    a.append(element)
max1=len(a[0])
temp=a[0]
for i in a:
    if(len(i)>max1):
       max1=len(i)
       temp=i
print("The word with the longest length is:")
print(temp)

#Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard  and print them in marks descending order with rollno.

In [0]:

print(sorted([(input("Enter rollno: "), input("Enter marks: ")) for i in range(int(input("Enter number of students")))], key=lambda x: x[1],reverse=True))

#Get name and salary (name, salary) as list of tuples for n number of employees through keyboard  and print them in name alphabetical order with salary

In [2]:

print(sorted([(input("Enter name: "), input("Enter salary: "))
for i in range(int(input("Enter number of employees")))], key=lambda x: x[0]))

Enter number of employees2
Enter name: sss
Enter salary: 34
Enter name: ed
Enter salary: 22
[('ed', '22'), ('sss', '34')]